#primary-area {
  height: calc(100% - 120px);
  padding: 0;
  font-size: 0;
}

#search-bar {
  font-size: 0;
}

#myInput {
  display: inline-block;
  width: calc(100% - 45px - 126.56px - 2px - 20px);
  margin-bottom: 50px;
}

#line-list .line-list-action-buttons .line-list-delete-button {
  background: #e94c4c !important;
}

#add-movie-button {
  margin-left: 20px;
  width: calc(100% - 796px);
}

#add-movie-button img {
  width: 10px;
  margin-right: 8px;
}
