#line-list {
  width: calc(66% - 100px);
  height: calc(100% - 84px - 50px);
  margin: 0;
  padding: 50px;
  padding-bottom: 0;
  background: #313131;
  border-radius: 20px;
  display: inline-block;
  overflow-x: hidden;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25);
}

#line-list ul {
  padding: 0;
  overflow-y: scroll;
  height: calc(100% - 131px);
}

#line-list::-webkit-scrollbar,
#line-list ul::-webkit-scrollbar {
  width: 0;
}

#line-list h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}

#line-list li {
  font-size: 0;
  margin-bottom: 20px;
}

#line-list li:last-child {
  margin-bottom: 50px;
}

#line-list .line-list-image-frame {
  width: 62px;
  height: 62px;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
}

#line-list .line-list-image-frame img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#line-list .line-list-right-section {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin-left: 20px;
  width: calc(100% - 62px - 20px);
}

#line-list .line-list-top-line h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#line-list .line-list-top-line .line-list-title {
  display: inline-block;
  color: white;
  width: calc(100% - 160px);
  text-transform: uppercase;
  margin-top: 5px;
  line-height: 14px;
}

#line-list .line-list-top-line .line-list-price,
#line-list .line-list-top-line .line-list-price-discount {
  display: inline-block;
  color: white;
  width: 160px;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 0;
  text-align: right;
  line-height: 14px;
}

#line-list .line-list-top-line .line-list-price-discount h3 {
  display: inline-block;
  text-align: right;
}

#line-list .line-list-top-line .line-list-price-discount h3:first-child {
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  color: rgb(155, 155, 155);
  padding-right: 20px;
}

#line-list .line-list-action-buttons {
  padding: 0;
  width: 100%;
}

#line-list .line-list-action-buttons li {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

#line-list .line-list-action-buttons li img {
  width: 13px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
}
