#primary-area {
  font-size: 0;
}

#settings-menu {
  height: calc(100vh - 84px - 120px - 100px);
  width: 32%;
  background-color: #313131;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 50px 0;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

#settings-menu li {
  padding: 20px 50px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

#settings-menu li:first-child {
  background-color: gray;
}

#settings-menu li:hover {
  background-color: gray;
}

#settings {
  height: calc(100vh - 84px - 120px - 100px);
  width: calc(66% - 100px);
  background-color: #313131;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2%;
  padding: 50px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
}

#settings form {
  font-size: 0;
  position: relative;
  height: 100%;
}

#settings form h2 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-top: 0%;
  margin-bottom: 30px;
}

#settings form label {
  display: inline-block;
  width: 23%;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-right: 2%;
}

#settings form #form-picture {
  display: none;
}

#settings form #form-picture-button {
  width: 200px;
  height: 35px;
  margin-right: calc(75% - 200px);
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  color: #191919;
  cursor: pointer;
}

#settings form #form-picture-button h4 {
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 500;
}

#settings form input,
#settings form select {
  display: inline-block;
  width: calc(75% - 40px);
  background-color: #191919;
  border-radius: 5px;
  padding: 0 20px;
  border: 0;
  height: 35px;
  font-size: 14px;
  color: white;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
}

#settings form select {
  width: 75%;
}

#settings form input[type="file"] {
  background: transparent;
  width: 75%;
  padding: 0;
  cursor: pointer;
  height: fit-content;
}

#settings #settings-password,
#settings #settings-privacy {
  display: none;
}

#settings #settings-privacy label {
  display: inline-block;
  width: 28%;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-right: 2%;
  vertical-align: text-bottom;
}

#settings #settings-privacy input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  margin-left: 0;
  margin-right: calc(70% - 20px);
  background-color: #191919;
  border-radius: 5px;
  padding: 0;
  border: 0;
  height: 20px;
  font-size: 14px;
  color: white;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
}

#settings #settings-privacy p {
  font-size: 12px;
  color: white;
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
}

#settings #settings-privacy #form-info {
  margin-bottom: 0px;
  margin-right: 20px;
}

#settings form input[type="submit"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  margin-bottom: 0;
  border-radius: 5px;
  background: white;
  color: #191919;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
